*{ 
    text-align: center;
     background-color: #C4A287;
font-weight: bold;
    }
input{

    font-size: 20px;
    border-color: ;
    width: 60vh;
    height: 30px;
}
h1{
    font-size: 20vh;
    display: inline-block;
}
button{
    color:aquamarine;   
    height: 36px;
}
div{
    font-size: 20vh;
    display: inline-block;
}